# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Development
.claudio/

# Tuist
Derived/

# macOS
.DS_Store

# IDE
*.xcworkspace
*.xcodeproj
